[submodule "AlgorithmVisualizer/deps/glfw"]
	path = AlgorithmVisualizer/deps/glfw
	url = https://github.com/ItsSunnyMonster/glfw
[submodule "AlgorithmVisualizer/deps/utfcpp"]
	path = AlgorithmVisualizer/deps/utfcpp
	url = https://github.com/ItsSunnyMonster/utfcpp.git
[submodule "AlgorithmVisualizer/deps/glad"]
	path = AlgorithmVisualizer/deps/glad
	url = https://github.com/ItsSunnyMonster/glad.git
